@font-face {
  src: url("./../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
  font-family: OpenSans;
}

:root {
  --title-margin: 20px 0;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: OpenSans;
}

/* Header */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .left-header {
  font-size: 110%;
}

.left-header,
.center-header,
.right-header {
  margin: 10px;
  padding: 5px;
}

.center-header ul,
.right-header ul {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.center-header .list li a {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}

/* Part-1 => Landing */
.main-body {
  max-height: 70vh;
  text-align: center;
  background-color: #f0f0f2;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.body-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 10px;
  overflow: hidden;
}

.body-text .title {
  font-size: 50px;
  font-weight: bold;
}

.body-text .text {
  width: 90%;
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: 500;
  animation: moving;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes moving {
  0% {
    color: black;
    font-size: 1.3rem;
  }
  50% {
    color: rgb(255, 0, 149);
    font-size: 1.4rem;
  }
  100% {
    color: black;
    font-size: 1.3rem;
  }
}

.body-text .btn {
  width: 30%;
  max-width: 200px;
  height: 50px;
  margin: 20px 0;
  border-radius: 10px;
  transition: all 0.5s;

  color: white;
  background-color: grey;

  display: flex;
  align-items: center;
  justify-content: center;
}

.body-text .btn:hover {
  background-color: red;
  transform: scale(1.2);
}

.body-image {
  width: 30%;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.body-image .image {
  display: flex;
  justify-content: center;
  width: 90%;
  max-height: 90%;
}
.body-image .image img {
  width: 100%;
  height: 70%;
}

/* Part-2 => New Arrivals */
.arrivals {
  margin: 30px 10px;
  padding: 20px;
}

.arrivals-title {
  margin: var(--title-margin);
  font-size: 40px;
}

.arrivals-container {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.arrivals-container .card {
  min-width: 30%;
}
.arrivals-container .card-title,
.arrivals-container .card-price {
  font-weight: bold;
}

.arrivals-container .card-title {
  font-size: 1.5rem;
}
.arrivals-container .card-price {
  font-size: 1.2rem;
  color: red;
}

.arrivals-container .card-image {
  width: 100%;
}

.arrivals-container .card .card-image {
  overflow: hidden;
}
.arrivals-container .card .card-image img:hover {
  transition: all 1s ease;
  transform: scale(1.1);
}

/* Part-3 => Gallary */
.gallary {
  margin: 30px 10px;
  padding: 20px;
}
.gallary .gallary-title {
  margin: var(--title-margin);
  font-size: 40px;
}

.gallary-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 5px;
  overflow: hidden;
}

.gallary-container .card-1,
.gallary-container .card-2,
.gallary-container .card-3 {
  overflow: hidden;
}
.gallary-container .card-1 {
  width: 50%;
}

.gallary-container .card-2 {
  width: 25%;
  max-width: 300px;
}

.gallary-container .card-3 {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-3 .card-container {
  height: 44%;
}

.card-1 img,
.card-2 img,
.card-3 img {
  height: 100%;
  max-width: 100%;
  transition: transform 1s ease;
  transform: scale(1.2);
}

.gallary-container .card-1 img:hover,
.gallary-container .card-2 img:hover,
.gallary-container .card-3 img:hover {
  transition: transform 1s ease;
  transform: scale(1);
}
