body {
	margin: 0;
	text-align: center;
	font-family: "Merriweather", serif;
}
h1 {
	color: #eee9da;
	line-height: 1.5;
	font-family: "Sacramento", cursive;
}
h2,
h3 {
	color: #eee9da;
	font-weight: normal;
	font-family: "Montserrat", sans-serif;
}

.top-container {
	padding-top: 100px;
	position: relative;
	background-color: #6096b4;
}

.top-container h1 {
	font-size: 6rem;
	margin: 50px auto 0px;
	font-family: "Sacramento", cursive;
}

.top-container h2 {
	font-size: 2rem;
}

.top-cloud {
	position: absolute;
	right: 300px;
	top: 40px;
}

.bottom-cloud {
	position: absolute;
	left: 300px;
	bottom: 300px;
}
/* --------------------------------------------------- */
.profile {
	background-color: #93bfcf;
}

/* --------------------------------------------------- */

.skills {
	background-color: #bdcdd6;
}

.skill-row {
	width: 50%;
	margin: 100px auto;
	text-align: left;
}

.skill-row h3 {
	color: #6096b4;
	font-weight: bold;
}

.skill-row p {
	line-height: 2;
}

.code-img {
	width: 25%;
}
